.activities {
  position: relative;
  background-image: url("../../assets/img/activities-bg.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 20vh 0;
}

.activities h2 {
  font-size: var(--font-size-extra-large);
  font-weight: 700;
  text-align: center;
}

.activities p {
  color: #f8f8ff;
  font-size: var(--font-size-small);
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: left;
  width: 56%;
}

.activities-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.activities-header p {
  margin: none;
}

.activity-cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.activity-card {
  margin: 1rem 0.5rem;
  padding: 1rem;
  width: 80rem;
}

.icon-container {
  display: flex;
  flex-direction: row;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #37b3dd;
  padding: 0.6rem;
  border-radius: 20%;
  border: 0;
}

.icon-text {
  padding: 0 5px;
  margin-top: 0.5rem;
}

.activities .nav.nav-pills {
  width: 85%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}

.activities .nav.nav-pills .nav-item {
  width: 33.33333%;
}

.activities .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}

.activities .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #1e91b2 -5.91%, #a6e2f0 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.activities .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}

.activities .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(255, 255, 255, 1);
}

.nav-link#activity-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}

.nav-link#activity-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-link#activity-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}

.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}

.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.proj-imgbx:hover::before {
  height: 100%;
}

.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}

.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}

.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}

.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .activities h2 {
    font-size: var(--font-size-large);
  }
  .activity-cards {
    flex-direction: column;
  }
  .activities .nav.nav-pills .nav-link {
    font-size: 0.8rem;
  }
  .icon-text {
    margin-top: 0.7rem;
  }
  .activity-card {
    width: fit-content;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .activity-cards {
    flex-direction: column;
  }
  .activity-card {
    width: 95%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .activity-cards {
    flex-direction: row;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
