.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url("../../assets/img/Banner_1.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(0, 84, 168, 0.7) -5.91%,
    rgba(0, 84, 168, 0.7) 111.58%
  );
  border: 2px solid rgba(255, 255, 255, 0.8);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.banner-title {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  color: #f8f8ff;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

.banner img {
  animation: updown 3s linear infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/* Extra Small Devices (Phones) */
@media (max-width: 575.98px) {
  .banner {
    padding: 155px 15px 165px 15px;
  }
  .banner-title {
    font-size: 40px;
  }
  .banner p {
    font-size: var(--font-size-small);
  }
  .banner button {
    font-size: var(--font-size-small);
  }

  .banner img {
    display: none;
  }
}

/* Small Devices (Tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium Devices (Landscape Tablets and Small Desktops) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large Devices (Desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra Large Devices (Large Desktops) */
@media (min-width: 1200px) {
}
