.tableContainer {
  display: flex;
  flex-direction: row;
  height: 30vh;
  margin-top: 2rem;
  background-color: white;
  border-radius: 12px;
  border: solid 1px #e9e9e9;
  overflow-x: auto;
}

.calendarTable {
  width: 100%;
  table-layout: auto;
  text-align: center;
  color: black;
}

.calendarTable th,
.calendarTable td {
  width: 25%;
  border: solid 1px #e9e9e9;
  padding: 2px;
}

.calendarTable th {
  font-size: 1.15rem;
  color: #38b3dd;
  font-weight: 900;
}

.calendarTable td {
  font-size: 0.8rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .calendarTable th {
    font-size: 1.5rem;
    font-weight: 900;
  }

  .calendarTable td {
    font-size: 0.9rem;
    padding: 6px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .calendarTable th {
    font-size: 2rem;
    font-weight: 900;
  }

  .calendarTable td {
    font-size: 1.2rem;
    padding: 8px;
  }
}
