.calendar-card {
  display: flex;
  flex-direction: row;
}

.calendar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #37b3dd;
  padding: 0.3rem;
  border-radius: 20%;
  border: 0;
  height: fit-content;
}

.calendar-text {
  padding: 0 5px;
  margin-top: 0.25rem;
}
