.calendar-section {
  background-color: black;
  min-height: 100vh;
  padding: 15vh 0;
  border: 1px solid white;
}

.calendar-info {
  display: flex;
  flex-direction: row;
  padding: 5vh 0;
}

.calendar-info img {
  width: 25vw;
  height: auto;
  margin: 0 3rem;
  border-radius: 1rem;
}

.calendar-section h2 {
  font-size: var(--font-size-extra-large);
  font-weight: 700;
  text-align: center;
}

.calendar-card {
  display: flex;
  flex-direction: row;
}

.calendar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #37b3dd;
  padding: 0.3rem;
  border-radius: 20%;
  border: 0;
  height: fit-content;
}

.calendar-text {
  padding: 0 5px;
  margin-top: 0.25rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .calendar-section h2 {
    font-size: var(--font-size-large);
  }

  .calendar-info img {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .calendar-info img {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .calendar-info img {
    display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
