.footer {
  background: linear-gradient(
    90deg,
    #66ccef 0%,
    #42b2d9 20.96%,
    #31a6d0 43.54%,
    #158fbd 75%,
    #0086b5 100%
  );
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
}

.footer img {
  width: 16%;
}

.footer p {
  font-weight: 400;
  font-size: 14px;
  color: white;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.social-icon {
  display: inline-flex;
  margin-left: 14px;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.myIcon {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
  color: white;
}

.social-icon a:hover .myIcon {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
  transition: 0.3s ease-in-out;
  color: black;
}
