.officers {
  padding: 0 0 50px 0;
  position: relative;
}

.officer-bx {
  background: #ffffff;
  color: #3d4351;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}

.officers h2 {
  font-size: 45px;
  font-weight: 700;
}

.officer p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

.officer-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.officer-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}

.item img {
  border: 3px solid #38b3dd;
  border-radius: 50%;
}

.officer-slider .item a {
  color: #b8b8b8;
  text-decoration: none;
}

.officer-slider .item a:hover {
  text-decoration: underline;
}

.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}
