.officers {
  padding: 0 0 50px 0;
  position: relative;
}

.officer-bx {
  background: #ffffff;
  color: #3d4351;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}

.officer-bx h2 {
  font-size: 4rem;
}

.officer-bx p {
  font-size: var(--font-size-small);
}

.officer-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.officer-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}

.item img {
  border: 3px solid #38b3dd;
  border-radius: 50%;
}

.officer-slider .item a {
  color: #b8b8b8;
  text-decoration: none;
}

.officer-slider .item a:hover {
  text-decoration: underline;
}

.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .officer-bx h2 {
    font-size: 3rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .officer-bx h2 {
    font-size: var(--font-size-large);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .officer-bx h2 {
    font-size: var(--font-size-extra-large);
  }
}
