.sponsors {
  display: flex;
  background-color: black;
}

.container-box {
  text-align: center;
  color: white;
  padding: 20vh 0;
}

.container-box h1 {
  color: white;
  font-size: var(--font-size-extra-large);
  font-weight: 700;
}

.container-box p {
  font-size: var(--font-size-medium);
}

.beloved {
  color: #ca002c;
}

.sponsors-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .sponsors-cards {
    flex-direction: column;
  }
  .sponsors-box h1 {
    font-size: var(--font-size-large);
  }
  .sponsors-box p {
    font-size: 1.5rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .sponsors-box h1 {
    font-size: var(--font-size-extra-large);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
